log:
  level: INFO

entryPoints:
  websecure:
    address: ":443"
    forwardedHeaders:
      insecure: true
  c2:
    address: ":4443"
    forwardedHeaders:
      insecure: true
    transport:
      respondingTimeouts:
        readTimeout: 30s

providers:
  docker:
    exposedByDefault: false
  file:
    filename: /etc/traefik/dynamic.yml

api:
  dashboard: true